
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
  font-size: xx-large;
  background-color: red;
  color: white;
  margin-top: 270px;
  vertical-align: middle;

}

#quote {
    font-size: 54px;
    font-weight: bold;
    margin-top: 250px;
    color: black;
    background-color: white;

}